/*initate main styles for document*/


body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	background-color:#B22222;
	position: relative;
	min-height: 100%;
}


/*header and nav bar*/

header{
	width: 100%;
	height: 120px;
}

nav {
	padding: 20px;
}
nav h1{
	color: white;
	font-size: 40px;
	padding: 18px;
	text-transform: uppercase;
	display: inline;
}


nav ul{
	list-style: none;
	display: inline;
}


nav ul li{
	text-align: center;
	display: inline;
	margin-left: 20px;
}

nav ul li a{
	color: white;
	font-size: 20px;
	text-decoration: none;
}

/*main body*/

main{
	padding: 5% 0;
	background-color: white;
}

main section{
	padding: 3%;
	text-align: center;
	font-size: 20px;
}

main section p{
	color: black;
}
/*for tables*/

main table{
	width: 80%;
	margin: 0 10%;
}

main table th{
	text-align: left;
	padding: .2em;
}

main table tr:nth-child(even) {
	background-color: #dddddd;
}
/* for forms */

main form{
	width: 80%;
	margin: 0 10%;
}

main form label{
	width: 50%;
	text-align: right;
	display:inline-block;
	margin-bottom: 1em;
}

main form input, main form select{
	width:20%;
	text-align: left;
	margin-bottom: 1em;
}

main form input:last-child{ /*REMEMBER, last child of form should ALWAYS be the submit button*/
	width: initial;
	background-color: darkred;
	color: white;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	border: none;
	border-radius: 5px;
	margin: auto;

}

/* for footer - work needed in justifying its position correctly (i.e should be atthe bottom of the screensize in case screen is larger than page, NOT ABSULUTE)*/

footer{
	width: 100%;
	height: 120px;
	color: white;
	text-align: center;
	position: relative;
	bottom: 0px;
}


footer p{
	font-size: 20px;
	padding-top: 2em;
	margin-top: 0;
}	

footer p a{
	color: white;
}	
