/* properties base */
.mainRed{

}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* nav */

nav {
	width: 100%;
	display: block;
}

nav ul {
	width: 100%;
	list-style: none;
}

nav li {
	background: red;
	float: left;
}


